html,
body {
    font-family: Open sans light;
    margin: 0;
    padding: 0;
}

.header {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), #9b9b9b);
}
.layout-column.layout-column-1 {
    float: left;
    width: 200px;
}
.logo-hidden {position: relative;}

.logo-hidden a {text-decoration: none;}

.logo-hidden img {
    position: absolute;
    top: 24px;
    left: 20px;
}
.logo-hidden .logo-text {
    font-size: 20px;
    color: white;
    padding-left: 57px;
    padding-top: 27px;
}

.layout-column.layout-column-2 {float: right;}

.navigation .nav {
    list-style: none;
    margin-top: 0;
    padding-top: 27px;
}

.navigation .nav li {display: inline-block;}

.navigation .nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 13px;
    position: relative;
    top: 0px;
    margin-right: 20px;
}

.navigation .nav img {margin-right: 34px;}

::after {
    content: "";
    display: table;
    clear: both;
}

.layout-positioner::afer {
    content: "";
    display: table;
    clear: both;
}
.architecture {
    display: block;
    position: absolute;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    text-shadow: 0px 2px 1px #777777;
    top: 190px;
    left: 755px;
}

h1 {
    text-shadow: 0px 2px 1px #777777;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 180px;
    left: 450px;
}
.h1 {
    display: block;
    position: absolute;
    left: 185px;
}
.slider {
    height: 600px;
    width:1583px;
    background-image: url("images/de.jpg");
}
.tabs {
    cursor: pointer;
    float: left;
    width: 360px;
    height: 80px;
    margin-top: 400px;
    color: white;
}
.tabs p {
    font-size: 17px;
    text-shadow: 0px 1px 0px #777777;
}
.tabs.first-tab {
    text-align: right;
    margin-left: 400px;
    margin-right: 35px;
}
.tabs.second-tab {

}
.tabs .controls {
    text-shadow: 0px 1px 0px #777777;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    text-shadow: ;
}
aside {
    float: right;
    margin-right: 130px;
    margin-top: 30px;
    text-align: right;
}
.asi {
    font-size: 22px;
    font-weight: lighter;
}
.link {
    color: #999999;
    text-decoration: none;
    font-size: 14px;
}
.block {
    margin-top: 30px;
    width: 230px;
    height: 70px;
}
.links {
    display: block;
    float: right;
    margin-bottom: 8px;
    margin-left: 5px;
    background-color: #777777;
    height: 15px;
    padding: 0px 5px 2px 5px;
    border-radius: 3px;
    font-size: 11px;
    text-decoration: none;
    color: white;
}
.comments {
    width: 820px;
    height: 100px;
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
    margin-left: 235px;
}
.comment-avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/fa.jpg");
    top: 25px;
}
.comment-author {
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding-left: 45px;
    margin-top: -10px;
    height: 20px;
}
.comment-text {
    font-size: 9px;
    text-transform: uppercase;
    color: #cccccc;
    padding-left: 43px;
    height: 20px;
}
.share {
    margin-left: 625px;
    margin-top: -60px;
    height: 50px;
}
.share a {
    margin-right: 3px;
}
.share a:last-child {
    margin-right: -3px;
}
.social {
    display: inline-block;
}
.fa-facebook {
    color: #43609c;
    padding-left: 2px;
    padding-top: 3px;
}
.fa-circle {
    color: white;
}
.circle-1 {
    border: 2px solid #43609c;
    border-radius: 50%;
}
.fa-twitter {
    color: #55acee;
    padding-left: 2px;
    padding-top: 3px;
}
.circle-2 {
    border: 2px solid #55acee;
    border-radius: 50%;
}
.fa-google-plus {
    color: #de5140;
    padding-left: 2px;
    padding-top: 3px;
}
.circle-3 {
    border: 2px solid #de5140;
    border-radius: 50%;
}
.fa-linkedin {
    color: #1d82aa;
    padding-left: 2px;
    padding-top: 3px;
}
.circle-4 {
    border: 2px solid #1d82aa;
    border-radius: 50%;
}
.block-2 {
    float: right;
}
.tex {
    display: inline-block;
}
.tex.a {
    font-size: 25px;
    font-weight: bold;
}
.tex.b {
    font-size: 14px;
    color: #999999;
    padding-right: 10px;
}
.tex.c {
    font-size: 25px;
    font-weight: bold;
}
.tex.d {
    font-size: 14px;
    color: #999999;
    padding-right: 5px;
}
article {
    margin-top: 35px;
    width: 820px;
    margin-left: 236px;
}
.artic {
    float: left;
    font-size: 22px;
    line-height: 18px;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 20px;
}
.paragraph {
    float: left;
    margin-bottom: 10px;
    padding: 10px 10px 10px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.paragraph-first {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.paragraph-second {
    margin-top: 0px;
    padding-top: 5px;
}
.paragraph-third {
    font-style: italic;
    color: #999999;
    padding-left: 20px;
    border-left: 2px solid #0eaaa6;
    margin-bottom: 20px;
}
.image {
    width: 820px;
    position: relative;
    margin-bottom: 20px;
}
.paragraph-fourth {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 410px;
    font-size: 18px;
    line-height: 25px;
    color: white;
    font-weight: lighter;
}
.paginator {
    height: 111px;
}
.paggs {
    width: 50%;
    border: 1px solid #e8e8e8;
    display: inline-block;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 20px;
    padding: 10px;
    position: relative;
    vertical-align: bottom;
}
.paggs.prev {
    text-align: right;
    padding-bottom: 40px;
    box-sizing: border-box;
    height: 111px;
    cursor: pointer;
}
.pagin {
    text-decoration: none;
    color: #5e5e5e;
}
.pagi {
    font-weight: bold;
}
.pag {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #a1a1a1;
    display: block;
    padding-bottom: 10px;
}
.paggs.prev img {
    display: block;
    position: absolute;
    top: 45px;
}
.paggs.next {
    margin-right: -10px;
    margin-left: -5px;
    height: 111px;
    box-sizing: border-box;
}
.paggs.next img {
    display: block;
    position: absolute;
    top: 45px;
    right: 10px;
}
.paggs.prev:hover .pagi {
     color: #0eaaa6;
}
.paggs.prev:hover .pag {
    color: #333333;
}
.paggs.next:hover .pagi {
     color: #0eaaa6;
}
.paggs.next:hover .pag {
    color: #333333;
}
.related {
    padding-left: 235px;
}
.relate {
    padding-top: 20px;
    font-size: 22px;
    line-height: 18px;
    font-weight: lighter;
}
.rel {
    width: 262px;
    height: 440px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #cccccc;
    margin-right: 14px;
}
.rel:last-child {
    margin-right: 0;
}
.rel a {
    text-decoration: none;
}
.art {
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0eaaa6;
}
.par {
    padding-left: 20px;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    margin-top: 10px;
}
.copy {
    font-size: 12px;
    line-height: 19px;
    color: #999999;
    display: block;
    margin-top: 80px;
    padding-left: 20px;
}
.commits {
    width: 820px;
    margin: 0 auto;
    margin-left: 235px;
    margin-top: 40px;
}
.four {
    font-size: 22px;
    line-height: 18px;
    font-weight: lighter;
    color: #333333;
    margin: 0;
}
.commit-avatar {
    position: relative;
    top: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/fas.jpg");
}
.commit-head {
    position: relative;
    width: 760px;
    margin-left: 60px;
    margin-top: -10px;
    border: 1px solid #cccccc;
    font-size: 12px;
    box-sizing: border-box;
    height: 50px;
    padding: 5px 10px;
}

.rus {
    display: block;
    font-size: 12px;
    font-weight: bold;
}
.long {
    position: absolute;
    bottom: 10px;
    display: block;
    font-size: 12px;
    color: #333333;
}
.commit-text {
    border: 1px solid #cccccc;
    margin-top: -1px;
    width: 760px;
    box-sizing: border-box;
    margin-left: 60px;
    height: 36px;
    position: relative;
}
.commit-text img.thumb {
    display: block;
    position: absolute;
    left: 700px;
    top: 10px;
    cursor: pointer;
}
.commit-text img.reply {
    display: block;
    position: absolute;
    left: 737px;
    top: 11px;
    cursor: pointer;
}
.commit-text .number {
    display: block;
    font-size: 11px;
    position: absolute;
    left: 713px;
    top: 8px;
}
.commit-text img {
    display: block;
    position: absolute;
    bottom: 12px;
    left: 10px;
}
.day {
    display: block;
    font-size: 11px;
    padding-left: 25px;
    padding-top: 8px;
}

.commite-avatar {
    position: relative;
    top: 30px;
    left: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/fase.jpg");
}
.commite-head {
    position: relative;
    width: 710px;
    margin-left: 110px;
    margin-top: -10px;
    border: 1px solid #cccccc;
    font-size: 12px;
    box-sizing: border-box;
    height: 50px;
    padding: 5px 10px;
}
.rus {
    display: block;
    font-size: 12px;
    font-weight: bold;
}
.long {
    position: absolute;
    bottom: 10px;
    display: block;
    font-size: 12px;
    color: #333333;
}
.commite-text {
    border: 1px solid #cccccc;
    margin-top: -1px;
    width: 710px;
    box-sizing: border-box;
    margin-left: 110px;
    height: 36px;
    position: relative;
}
.commite-text img {
    display: block;
    position: absolute;
    bottom: 12px;
    left: 10px;
}
.commite-text a {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.days {
    display: block;
    font-size: 11px;
    padding-left: 25px;
    padding-top: 8px;
}
.leave {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 18px;
    color: #5e5e5e;
    font-weight: lighter;
}
.form {
    width: 820px;
    margin: 0 auto;
    margin-left: 235px;
}
.form1 {
    width: 50%;
    float: left;
}
.form2 {
    float: right;
    text-align: right;
    width: 50%;
}
input[type="text"].name {
    width: 400px;
    height: 35px;
    padding-left: 16px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    box-sizing: border-box;
}
input[type="email"].email {
    width: 400px;
    height: 35px;
    padding-left: 16px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    box-sizing: border-box;
}
.form3 {
    float: left;
    width: 100%;
}
input[type="text"].comm {
    width: 820px;
    height: 70px;
    margin-top: 15px;
    padding-left: 15px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    box-sizing: border-box;
}
.form4 {
    float: left;
    margin-top: 15px;
}
input[type="submit"].submit {
    height: 35px;
    width: 118px;
    background-color: #0eaaa6;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 60px;
}
footer {
    height: 340px;
    width: 100%;
    background-color: #333333;
    position: relative;
}
.company {
    width: 25%;
    float: left;
}
.company h3 {
    color: white;
    font-size: 16px;
    line-height: 22px;
    font-weight: lighter;
    padding-left: 130px;
    padding-top: 40px;
    margin: 0 0 15px 0;
}
.company .comp {
    list-style: none;
    padding-left: 130px;
}
.company .comp li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
}
.disover {
    width: 25%;
    float: left;
}
.disover h3 {
    color: white;
    font-size: 16px;
    line-height: 22px;
    font-weight: lighter;
    padding-left: 0px;
    padding-top: 40px;
    margin: 0 0 15px 0;
}
.disover .dis {
    list-style: none;
    padding-left: 0;
}
.disover .dis li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
}
.get {
    width: 25%;
    float: left;
}
.get h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: lighter;
    color: white;
    padding-left: 0px;
    padding-top: 40px;
    margin: 0 0 15px 0;
}
.get .tel {
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 22px;
}
.get .pp {
    font-size: 13px;
    line-height: 18px;
    font-weight: lighter;
    color: white;
    margin-bottom: 0;
}
.get img.sc-soc {
    margin-top: 15px;
    cursor: pointer;
}
.subscribe {
    width: 25%;
    float: right;
}
.subscribe h3 {
    color: white;
    font-size: 16px;
    line-height: 22px;
    font-weight: lighter;
    padding-left: 0;
    padding-top: 40px;
    margin: 0 0 15px 0;
}

input[type="email"].semail {
    width: 260px;
    height: 35px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    box-sizing: border-box;
}
input[type="submit"].ssubmit {
    color: white;
    background-color: #0eaaa6;
    width: 260px;
    height: 35px;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
    cursor: pointer;
}
.copyr {
    position: absolute;
    bottom: 40px;
    left: 710px;
    text-align: center;
    color: #999999;
    font-weight: bold;
    line-height: 17px;
    font-size: 12px;
}
