body {
   color: white;
   margin: 0;
}
.container.first {
   background-color: rgb(61, 157, 218);
   width: 100%px;
}
.container.second {
   background-color: rgb(107, 218, 61);
   height: 550px;
   margin-top: -13px;
}
a {
   color: white;
}
.container.second p {
   width: 700px;
}
/*Таблицы*/
.table {
   background-color: rgb(143, 22, 84);
   margin-top: -20px;
   height: 2150px;
}
.table h2 {
   padding-top: 20px;
   padding-left: 250px;
}
.table-1 {
   margin-left: 20px;
}
.table-2 {
   border: 3px solid black;
   margin-top: 20px;
   margin-left: 20px;
}
.table-2 td {
   border: 3px solid rgb(201, 240, 13);
}
.table-3 {
   border: 6px solid black;
   border-collapse: collapse;
   margin-top: 20px;
   margin-left: 20px;
}
.table-3 td {
   border: 3px solid rgb(201, 240, 13);
}
.table-4 {
   border: 3px solid black;
   border-collapse: collapse;
   margin-top: 20px;
   margin-left: 20px;
}
.table-4 td {
   /*border-bottom: 3px solid rgb(201, 240, 13);*/
   border-left: 3px solid rgb(201, 240, 13);
   padding: 5px;
   padding-right: 30px;
}
.table-5 {
   border: 6px solid black;
   border-collapse: separate;/*Значение по умолчанию*/
   border-spacing: 5px;/*Задается для таблицы,в отличае от: padding*/
   margin-top: 20px;
   margin-left: 20px;
}
.table-5 td {
   border: 3px solid rgb(201, 240, 13);
}
.table-6 {
   border-collapse: collapse;
   margin-top: 20px;
   margin-left: 20px;
}
.table-6 td {
   border-bottom: 3px solid rgb(201, 240, 13);
   padding: 5px 10px 5px 10px;
}
.table-7 {
   border: 2px solid black;
   border-collapse: collapse;
   margin-top: 20px;
   margin-left: 20px;
}
.table-7 td {
   border: 1px solid rgb(201, 240, 13);
}
.table-7 th {
   padding: 10px;
   border: 1px solid black;
}
.table-7 caption {
   caption-side: bottom;/* Перемещает заголовок таблицы вниз(вверх) */
   text-align: left;
}
.table-8 {
   border: 2px solid black;
   border-collapse: separate;/*Значение по умолчанию*/
   border-spacing: 5px;/*Задается для таблицы,в отличае от: padding*/
   margin-top: 20px;
   margin-left: 20px;
}
.table-8 caption {
   padding: 10px;
}
.table-8 td {
   border: 1px solid rgb(201, 240, 13);
}
.table-8 th {
   padding: 10px;
   border: 1px solid black;
}
.table-9 {
   border: 2px solid black;
   border-collapse: separate;/*Значение по умолчанию*/
   border-spacing: 5px;/*Задается для таблицы,в отличае от: padding*/
   margin-top: 20px;
   margin-left: 20px;
}
.table-9 caption {
   padding: 10px;
}
.table-9 td {
   border: 1px solid rgb(201, 240, 13);
}
.table-9 th {
   padding: 10px;
   border: 1px solid black;
}
.table-10 {
    border-collapse: separate;
    border: 2px solid black;
    border-spacing: 4px;
    margin-top: 20px;
    margin-left: 20px;
}
.table-10 td {
    padding: 5px;
    padding-right: 30px;
    border: 1px solid rgb(201, 240, 13);
}
.table-10 caption {
   padding: 10px;
}
.table-11 {
   border-collapse: collapse;
   margin-top: 20px;
   margin-left: 20px;
}
.table-11 caption {
   caption-side: bottom;
   text-align: center;
}
.table-11 th {
   padding: 10px;
   border-bottom: 2px solid black;
}
.table-11 td {
   border: 1px solid rgb(201, 240, 13);
}
.table-12 {
   border: 2px solid black;
   border-collapse: collapse;
   margin-top: 20px;
   margin-left: 20px;
}
.table-12 caption {
   padding: 10px;
}
.table-12 td {
   border: 1px solid rgb(201, 240, 13);
   text-align: center;
   color: lightgreen;
   background-color: rgb(28, 66, 227);
}
.table-12 th {
   padding: 10px;
   border: 1px solid black;
   vertical-align: bottom;
   background-color: lightcyan;
   color: darkblue;
}
